body {
    background-image: url('UI-Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif; /* Modern and clean font */
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Slightly more transparency */
    border-radius: 20px; /* More rounded corners */
    padding: 25px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
}

.custom-header {
    margin-bottom: 20px;
    color: #343a40;
    text-align: center; /* Centering header text */
}

.form-control {
    margin-bottom: 15px; /* Uniform spacing */
    border-radius: 5px; /* Slightly rounded edges for form elements */
}

/* Button styles */
.btn {
    margin-bottom: 15px; /* Uniform spacing */
    padding: 15px 40px; /* Consistent padding */
    border-radius: 5px; /* Consistent rounded edges for buttons */
    line-height: 1; /* Adjust line-height to ensure vertical alignment is the same */
    display: inline-block; /* Ensures that both elements are treated as inline-block */
    vertical-align: middle; /* Aligns elements to the middle vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow for buttons */
    font-size: 16px; /* Ensure font-size is the same */
    text-decoration: none; /* Removes underline from <a> element */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Set cursor to pointer */
}

.login-image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 120px; /* Slightly larger image */
    height: auto;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding: 15px;
    }
}

.logout-container {
    position: absolute;
    right: 10px;
    top: 10px; /* Adjust the top position as needed */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align the flex items vertically */
    gap: 10px; /* Space between buttons */
}

/* Style for table containers */
.table-container {
    border: 2px solid #007bff; /* Blue border color */
    border-radius: 0.75rem; /* Rounded corners */
    padding: 1rem; /* Space between the border and the table */
    margin-bottom: 1rem; /* Space below the container */
    background-color: #f9f9f9; /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Additional responsive spacing for smaller devices */
@media (max-width: 768px) {
    .table-container {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* Responsive table styling */
.table-responsive {
    overflow-x: auto; /* Allows horizontal scrolling */
}
