body {
    background-image: url('UI-Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
    width: 100%;
    max-width: 400px; /* Set a maximum width for the form */
}
.custom-header {
    margin-bottom: 30px;
    color: #343a40; /* Dark shade for contrast */
}
.form-control {
    margin-bottom: 10px; /* Spacing between input and button */
}
.login-image {
    display: block;
    margin: 0 auto 20px auto; /* Center the image and add some margin below */
    max-width: 100px; /* Adjust the size as needed */
    height: auto; /* Keep the aspect ratio */
}